/* 
 --------------
| POPUP STYLES |
 --------------
*/

#orders, #orders thead, #orders tbody {
	width: 100%;
}

#orders thead {
	font-weight: bold;
}

.order-table-body tr td {
	padding: 6px;
}

.order-table-body tr {
	margin-top: 15px;
}

/* 
 -------------
| POPUP TABLE |
 -------------
*/

.order-table-wrapper {
	max-height: 200px;
	min-width: 700px;
	overflow-y: scroll;
}

.order-table-body tr:hover {
	background-color: #ffffff;
}

/* 
 ---------------
| POPUP BUTTONS |
 ---------------
*/

.update-order-button {
	height: 32px;
	width: 32px;
	border: 1px solid black;
	border-radius: 10%;
}

.processing-order-button {
	background: url("../icons/icon-processing.png") no-repeat;
	background-size: 30px 30px;
}

.processing-order-button:hover {
	background: url("../icons/icon-processing-hover.png") no-repeat;
	background-size: 30px 30px;
	background-color: #4285f4;
	cursor: pointer;
}

.complete-order-button {
	background: url("../icons/icon-complete.png") no-repeat;
	background-size: 30px 30px;
}

.complete-order-button:hover {
	background: url("../icons/icon-complete-hover.png") no-repeat;
	background-size: 30px 30px;
	background-color: #ea4335;
	cursor: pointer;
}

.view-order-button {
	background: url("../icons/icon-view.png") no-repeat;
	background-size: 30px 30px;
}

.view-order-button:hover {
	background: url("../icons/icon-view-hover.png") no-repeat;
	background-size: 30px 30px;
	background-color: #34a853;
	cursor: pointer;
}

/* 
 ------------
| POPUP MISC |
 ------------
*/

.header {
	margin-bottom: 15px;
}